@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 47 100% 92%;
        --foreground: 20 14.3% 4.1%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --border: 20 5.9% 90%;
        --input: 24 5.4% 63.9%;

        --primary: 47 100% 92%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 47 100% 88%;
        --secondary-foreground: 24 9.8% 10%;

        --accent: 47 100% 80%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }
}

@layer base {
    @font-face {
        font-family: 'Mayonice';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('https://fonts.cdnfonts.com/s/123934/Mayonice-gwaq1.woff') format('woff');
    }

    * {
        @apply border-border;
    }

    body {
        @apply text-foreground;
    }

    .bg-paper {
        position: relative;
        background-size: contain;
        background-repeat: repeat;
        background-image: url('https://a.storyblok.com/f/210339/2000x2000/6488acee6a/paper-4.jpg/m/');
    }

    .overlay-dark::before {
        @apply inset-0 absolute bg-black/10;
        content: '';
        z-index: -1;
    }
}
